.options_bar {
  margin-right: 10px;
  background-color:gainsboro;
  padding: 2px 5px;
  border-radius: 5px;
}

.header {
  margin-top: 15px;

}


.header a {
  color: #333;
  margin-right: 20px;
}

.header a:hover {
  color: #000;
  background-color: lightgray;
}

.strong :hover {
  background-color:#333;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.strong {
  background-color: black;
  color: white;
  padding: 1px 3px;
}

.paragraph {
  line-height: 30px;
}

.list_text {
  margin: 20px 0;
}